.login-maindiv {
  height: 100vh;
  border: 1px solid red;
}
.login-seconddiv {
  padding-top: 8rem;
}
.facebookimage1 {
  width: 205px;
  height: 130px;
}
.facebookimage2 {
  padding-block: 0px;
  width: 170px;
  height: 90px;
}
.login-button {
  margin-top: 50px;
  width: 20rem;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #ffff;
  background-color: #1877f2;
  border: 1px solid #1877f2;
  border-radius: 5px;
}
